@model List<MatrixWebApp.ViewComponents.CategoryDto>

<ul class="nav flex-column ms-3">
    @foreach (var cat in Model)
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Products/Index" asp-route-categoryId="@cat.CategoryId">
                @cat.CategoryName
            </a>
        </li>
    }
</ul>