@page
@model MatrixWebApp.Pages.AdminModel
@{
	ViewData["Title"] = "Admin Dashboard";
	ViewData["ShowSidebar"] = true;
}

<main>
	<h2>Welkom, op de admin pagina</h2>
	<p>Selecteer een onderdeel in het menu links.</p>
	<a asp-page="/Admin/AdminDashboard" class="btn btn-primary mb-3">Ga naar Dashboard</a>
</main>

