@page
@model MatrixWebApp.Pages.AdminModel
@{
	ViewData["Title"] = "Admin Dashboard";
	ViewData["ShowSidebar"] = true;
}

<main>
	<h2>Welkom, op de admin pagina</h2>
	<p>Selecteer een onderdeel in het menu links.</p>
</main>

