@page
@model MatrixWebApp.Pages.RegistrerenModel
@{
	ViewData["Title"] = "Registreren";
}

<h2>Registreren</h2>

<form method="post">
	<div><label>Naam:</label><input asp-for="Gebruiker.Naam" required/></div>
	<div><label>Adres:</label><input asp-for="Gebruiker.Adres" required /></div>
	<div><label>Postcode:</label><input asp-for="Gebruiker.Postcode" required /></div>
	<div><label>Woonplaats:</label><input asp-for="Gebruiker.Woonplaats" required /></div>
	<div><label>Telefoon:</label><input asp-for="Gebruiker.Telefoon" /></div>
	<div><label>Email:</label><input asp-for="Gebruiker.Email" type="email" required /></div>
	<div><label>Wachtwoord:</label><input asp-for="Wachtwoord" type="password" required /></div>

	<button type="submit">Account aanmaken</button>

	@if (!string.IsNullOrEmpty(Model.Foutmelding))
	{
		<p style="color:red">@Model.Foutmelding</p>
	}
</form>