@page
@model MatrixWebApp.Pages.Account.UserProfileModel
@{
    ViewData["Title"] = "User Profile";
}

<h2>User Profile</h2>

<ul>
    <li><a asp-page="/Account/EditProfile">Edit Profile</a></li>
    <li><a asp-page="/Account/UserOrders">My Orders</a></li>
    <li><a asp-page="/Account/UserSettings">Settings</a></li>
</ul>