.margin-left2 {
    margin-left: 400px;
}

.matrix-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-color: #000;
}

#matrix-rain {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    background-color: transparent; /* Zorg dat het transparant is */
}

.hero-content {
    z-index: 2;
    max-width: 800px;
    padding: 2rem;
}

.matrix-btn {
    background-color: #63894d;
    color: #000;
    border: none;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #63894d;
}

    .matrix-btn:hover {
        background-color: #63894d;
        color: #000;
        transform: translateY(-3px);
        box-shadow: 0 0 20px #63894d;
    }

.hero-title {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: white;
    opacity: 0.9;
    text-shadow: 0 0 10px rgba(0, 255, 65, 0.5);
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}