.arrow {
    transition: transform 0.2s ease;
    display: inline-block;
}
a[aria-expanded="true"] > .arrow {
    transform: rotate(90deg);
}

.search-container {
    position: relative;
    width: 350px;
    margin-right: 15px;
}

.search-container input {
    width: 100%;
    padding: 6px 30px 6px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 34px;
}

.search-container svg {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.search-container-position {
    margin-left: 550px;
}
